* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    /* border: 1px solid red !important; */
}

html, body {
  scroll-behavior: smooth; 
    width: 100%;
  overflow-x: hidden;
}


